form {
  max-width: 400px;
  display: grid;
  grid-template-areas:
    "name name"
    "number number"
    "date cvc"
    "confirm confirm";
  column-gap: 8px;
}

form.hidden {
  display: none;
}

form div:first-child {
  grid-area: name;
}

form div:nth-child(2) {
  grid-area: number;
}

form button {
  grid-area: confirm;
}